@charset "UTF-8";
.dusk
{
	--theme-bg-color: #303030;
	--theme-fg-color: rgba(255, 255, 255, 0.7);
	
	/* Used to specify a lighter/darker shade of the main theme color. */
	--theme-light-bg-color: #424242;
	--theme-light-fg-color: var(--theme-fg-color);
	
	--theme-dark-bg-color: #212121;
	--theme-dark-fg-color: var(--theme-fg-color);
	
	--accent-primary-bg-color: #FFC107;
	--accent-primary-fg-color: #000;
	
	--accent-secondary-bg-color: #FFC107;
	--accent-secondary-fg-color: #000;
	
	--fieldset-color: var(--accent-secondary-bg-color);
	
	--checkbox-icon: url(../res/ui/dusk/checkbox.svg);
	--checkbox-icon-checked: url(../res/ui/dusk/checkbox-checked.svg);
	
	--dropdown-icon: url(../res/ui/dusk/select-arrow.svg);
}
